{% extends 'base.html' %}

{% block title %}Chofer Asignado - RemisPoint{% endblock %}

{% block content %}
<div class="container">
    <h1>Chofer Asignado</h1>
    <p><strong>Cliente:</strong> {{ pedido.id_cliente.nombre }} {{ pedido.id_cliente.apellido }}</p>
    <p><strong>Dirección de salida:</strong> {{ pedido.dir_salida }}</p>
    <p><strong>Destino:</strong> {{ pedido.dir_destino }}</p>
    
    <h2>Detalles del Chofer y Auto</h2>
    <p><strong>Chofer:</strong> {{ chofer.nombre }} {{ chofer.apellido }}</p>
    <p><strong>Patente del auto:</strong> {{ auto.patente }}</p>
    <p><strong>Tipo de auto:</strong> {{ auto.tipo }}</p>
</div>
{% endblock %}

