{% extends 'base.html' %}

{% block title %}Home - RemisPoint{% endblock %}

{% block content %}
<style>
    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-top: 20px; /* Espaciado superior */
    }

    h3 {
        font-size: 1.5rem;
        font-weight: normal;
        color: #555;
        margin-bottom: 20px;
    }

    .input-group {
        margin-bottom: 15px;
    }

    .input-group label {
        display: block;
        margin-bottom: 5px;
        font-size: 1rem;
    }

    .input-group input,
    .input-group select {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .input-group button {
        padding: 5px 10px;
        font-size: 1.5rem;
        border: none;
        background-color: #f0f0f0;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        margin-left: 10px;
    }

    .input-group button:hover {
        background-color: #0056b3;
    }

    button {
        padding: 10px 20px;
        font-size: 1rem;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }

    button:hover {
        background-color: #0056b3;
    }

    #valor-estimado {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #333;
        margin-top: 15px;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }

    .map {
        width: 100%;
        height: 300px;
        border-radius: 8px;
    }
    /* Asegura que el contenido no se superponga con la barra de navegación inferior */
    body {
        padding-bottom: 70px; /* Espacio para el Bottom Navigation */
    }

</style>

<div class="container">
    <!-- Títulos siempre arriba -->
    <div class="row text-center">
        <div class="col-12">
            <h1 class="mt-4">Bienvenido a Remis Point</h1>
            <h3>Viaja a donde quieras con nosotros</h3>
        </div>
    </div>

    <!-- Contenido principal -->
    <div class="row gy-3">
        <!-- En móvil: mapa arriba; en escritorio: mapa a la derecha -->
        <div class="col-12 col-lg-6 order-2 order-lg-1">
            <label for="punto-partida">Punto de partida</label>
            <div class="input-group">
                <input type="text" id="punto-partida" placeholder="Ingrese punto de partida" readonly disabled>
                <button onclick="obtenerUbicacion('partida')">🏠</button>
            </div>

            <label for="entrega">Destino</label>
            <div class="input-group">
                <input type="text" id="entrega" placeholder="Ingrese lugar de destino" readonly disabled>
                <button onclick="obtenerUbicacion('destino')" disabled>🏠</button>
            </div>

            {% if user.is_authenticated %}
            <button class="btn btn-primary" onclick="verRuta()">Ver Precio Aproximado</button>
            <button class="btn btn-secondary" onclick="limpiarMapa()">Limpiar Mapa</button>
            {% else %}
            <a href="{% url 'login' %}"><button type="button">Ver Precio Aproximado</button></a>
            <button class="btn btn-secondary" onclick="limpiarMapa()">Limpiar Mapa</button>
            {% endif %}
            <div id="valor-estimado"></div>
        </div>

        <!-- Mapa -->
        <div class="col-12 col-lg-6 order-1 order-lg-2">
            <div id="map" class="map"></div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>
    var map = L.map('map').setView([-27.485045, -55.1199269], 15);

    // Capa de OpenStreetMap
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var rutaAnterior;
    var marcadorPartida, marcadorDestino;
    var coordsPartida = null, coordsDestino = null;
    var marcadoresColocados = 0; 
    var partidaFijada = false;
    var ubicacionInicial = null; // Guardará la ubicación del usuario al cargar la página

    // Obtener la ubicación inicial del usuario al cargar la página
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            ubicacionInicial = {
                lat: position.coords.latitude,
                lon: position.coords.longitude
            };
            map.setView([ubicacionInicial.lat, ubicacionInicial.lon], 15);

            // Crear un div contenedor para la animación
            var lottieDiv = document.createElement("div");
            lottieDiv.style.width = "60px";
            lottieDiv.style.height = "60px";

            // Cargar la animación Lottie desde el JSON
            var animation = lottie.loadAnimation({
                container: lottieDiv,
                renderer: 'svg',
                loop: true,
                autoplay: true,
                path: "static/animaciones/Animacion_ubicacion.json"  // Asegúrate de que la ruta sea correcta
            });

            // Crear un ícono personalizado con L.divIcon
            var lottieIcon = L.divIcon({
                className: '',
                html: lottieDiv,
                iconSize: [60, 60],  // Ajustar el tamaño del marcador
                iconAnchor: [30, 30]
            });

            // Agregar el marcador animado en la ubicación del usuario
            L.marker([ubicacionInicial.lat, ubicacionInicial.lon], { icon: lottieIcon }).addTo(map);

        }, function(error) {
            console.warn("No se pudo obtener la ubicación inicial: " + error.message);
        });
    }

    // Función para obtener la dirección desde las coordenadas usando la API de geocodificación
    function obtenerDireccion(lat, lon, tipo) {
        var url = `https://nominatim.openstreetmap.org/reverse?lat=${lat}&lon=${lon}&format=json`;

        fetch(url)
            .then(response => response.json())
            .then(data => {
                if (data && data.address) {
                    let direccion = data.address.road ? `${data.address.road}` : "Dirección desconocida";
                    if (tipo === 'partida') {
                        document.getElementById('punto-partida').value = direccion;
                        document.querySelector("button[onclick=\"obtenerUbicacion('destino')\"]").disabled = false;
                    } else if (tipo === 'destino') {
                        document.getElementById('entrega').value = direccion;
                    }
                }
            })
            .catch(error => {
                console.error('Error al obtener la dirección:', error);
            });
    }

    // Función para crear un marcador con texto
    function crearMarcador(lat, lon, esDestino = false) {
        var marcador = L.marker([lat, lon]).addTo(map);
        marcador.bindPopup(esDestino ? 'Destino' : 'Punto de partida').openPopup();
        return marcador;
    }

    // Escuchar clic en el mapa para colocar los marcadores
    map.on('click', function(e) {
        var lat = e.latlng.lat;
        var lon = e.latlng.lng;

        if (partidaFijada || marcadoresColocados === 1) {
            if (marcadorDestino) {
                map.removeLayer(marcadorDestino);
            }
            marcadorDestino = crearMarcador(lat, lon, true);
            coordsDestino = { lat: lat, lon: lon };
            obtenerDireccion(lat, lon, 'destino');
            marcadoresColocados = 2;
        } else {
            if (marcadorPartida) {
                map.removeLayer(marcadorPartida);
            }
            marcadorPartida = crearMarcador(lat, lon, false);
            coordsPartida = { lat: lat, lon: lon };
            obtenerDireccion(lat, lon, 'partida');

            document.querySelector("button[onclick=\"obtenerUbicacion('destino')\"]").disabled = false;
            marcadoresColocados++;
        }
    });

    // Función para obtener la ubicación actual y colocar un marcador
    function obtenerUbicacion(tipo) {
        if (ubicacionInicial) {
            var lat = ubicacionInicial.lat;
            var lon = ubicacionInicial.lon;

            if (tipo === 'partida') {
                if (marcadorPartida) {
                    map.removeLayer(marcadorPartida);
                }
                marcadorPartida = crearMarcador(lat, lon, false);
                coordsPartida = { lat: lat, lon: lon };
                obtenerDireccion(lat, lon, 'partida');

                partidaFijada = true;
                document.querySelector("button[onclick=\"obtenerUbicacion('destino')\"]").disabled = false;
            } else if (tipo === 'destino' && coordsPartida) {
                if (marcadorDestino) {
                    map.removeLayer(marcadorDestino);
                }
                marcadorDestino = crearMarcador(lat, lon, true);
                coordsDestino = { lat: lat, lon: lon };
                obtenerDireccion(lat, lon, 'destino');
            } else {
                alert("Primero debes seleccionar un punto de partida.");
            }
        } else {
            alert("Ubicación no disponible. Asegúrate de haber dado permisos de ubicación.");
        }
    }

    function verRuta() {
        if (!coordsPartida || !coordsDestino) {
            alert('Por favor, coloque ambos marcadores en el mapa.');
            return;
        }

        var coordsPartidaAPI = [coordsPartida.lon, coordsPartida.lat];
        var coordsDestinoAPI = [coordsDestino.lon, coordsDestino.lat];

        var url = `https://api.openrouteservice.org/v2/directions/driving-car?api_key=5b3ce3597851110001cf6248bbaa88fc959c42db9efc751597c03a47&start=${coordsPartidaAPI[0]},${coordsPartidaAPI[1]}&end=${coordsDestinoAPI[0]},${coordsDestinoAPI[1]}`;

        fetch(url)
            .then(response => response.json())
            .then(data => {
                if (data.features && data.features.length > 0) {
                    var route = data.features[0].geometry.coordinates;
                    var latLngs = route.map(coord => [coord[1], coord[0]]);

                    if (rutaAnterior) {
                        map.removeLayer(rutaAnterior);
                    }

                    rutaAnterior = L.polyline(latLngs, { color: 'blue' }).addTo(map);
                    map.fitBounds(rutaAnterior.getBounds());

                    var distancia = data.features[0].properties.segments[0].distance / 1000; // Convertir a km
                    var distanciaRedondeada = Math.round(distancia * 10) / 10;
                    if (distanciaRedondeada < 1.0) {
                        distanciaRedondeada = 1.0; // Precio mínimo para trayectos cortos
                    } // Redondear a 1 decimal

                    // Petición AJAX a Django para obtener el precio
                    fetch(`/obtener_precio/?distancia=${distanciaRedondeada}`)
                        .then(response => response.json())
                        .then(data => {
                            if (data.precio) {
                                document.getElementById('valor-estimado').innerText = `Precio estimado: $${data.precio}`;
                            } else {
                                document.getElementById('valor-estimado').innerText = "No se encontró un precio para esta distancia.";
                            }
                        })
                        .catch(error => {
                            console.error('Error al obtener el precio:', error);
                        });
                }
            })
            .catch(error => {
                console.error('Error al obtener la ruta:', error);
            });
    }


    // Función para limpiar el mapa y reiniciar valores
    function limpiarMapa() {
        map.eachLayer(function(layer) {
            if (layer instanceof L.Marker || layer instanceof L.Polyline) {
                map.removeLayer(layer);
            }
        });
        coordsPartida = null;
        coordsDestino = null;
        marcadoresColocados = 0;
        partidaFijada = false;
        document.getElementById('punto-partida').value = "";
        document.getElementById('entrega').value = "";
        document.getElementById('valor-estimado').innerText = "";
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.6/lottie.min.js"></script>


{% endblock %}
